:root {
  --clr-orange: hsl(12, 88%, 59%);
  --clr-blue: hsl(228, 39%, 23%);
  --clr-special-paragraph: hsl(240, 6%, 68%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  line-height: 1.6;
}
button {
  border: none;
  cursor: pointer;
  background: none;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
button,
input,
label {
  line-height: 1.1;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
p,
li {
  text-wrap: pretty;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
/* Start Components */
.special-paragraph {
  line-height: 1.6;
  font-weight: lighter;
  color: #a8a8b2;
}
/* Get Started Button */
.special-button {
  color: white;
  background-color: var(--clr-orange);
  border-radius: 20px;
  height: 50px;
  width: 160px;
  @media (width < 767px) {
    width: 150px;
  }
}
/* End Components */
body {
  font-family: "Be Vietnam Pro", sans-serif;
  position: relative;
}
body::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.25),
    rgba(0, 0, 0, 0.25)
  );
  transition: 0.3s;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.no-pseudo::after {
  content: none !important;
}
.hidden {
  display: none;
}
.container {
  width: 100%;
  max-width: 1320px;
  margin-inline: auto;
  padding-inline: 15px;
}
@media (width <= 1399px) {
  .container {
    max-width: 1140px;
  }
}
@media (width <= 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (width <= 991px) {
  .container {
    max-width: 720px;
  }
}
@media (width <= 767px) {
  .container {
    max-width: 540px;
  }
}
@media (width <= 575px) {
  .container {
    max-width: 100%;
  }
}
.header {
  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
  z-index: 1000;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  width: 150px;
}
.header__nav {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
  align-items: center;

  @media (width <= 991px) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    gap: 20px;
    padding: 20px 0;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    width: 70%;
  }
}
.nav__list-clicked {
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.header__button {
  color: white;
  background-color: var(--clr-orange);
  padding: 10px 30px;
  border-radius: 20px;
  @media (width <= 991px) {
    display: none;
  }
}
.nav__item a {
  color: var(--clr-blue);
  text-decoration: none;
}
.nav__item:not(:last-child) {
  margin-right: 20px;
}
.header__menu-toggle {
  color: white;
  background-color: black;
  display: none;
  @media (width <= 991px) {
    display: flex;
    font-size: 30px;
    color: black;
    background-color: white;
    align-items: center;
    margin-left: auto;
  }
}
/* Main Section */
.hero__container {
  display: flex;
  gap: 20px;
  min-height: 100vh;
  flex-direction: row-reverse;
  @media (width < 767px) {
    flex-direction: column;
  }
}
.hero .hero__images {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (width < 767px) {
    margin-top: 80px;
  }
}
.hero .text {
  display: flex;
  flex: 1;
  align-self: center;
  flex-direction: column;
  @media (width < 767px) {
    align-items: center;
  }
}
.hero .text__heading {
  color: var(--clr-blue);
  font-size: 30px;
  padding: 20px 0;
  max-width: 80%;
  @media (width < 767px) {
    font-size: 30px;
  }
}
.hero .text__paragraph {
  margin: 40px 0;
  max-width: 70%;
}

.hero .text__button {
  padding: 0 30px;
  align-self: flex-start;
  @media (width < 767px) {
    align-self: center;
    margin-top: 20px;
  }
}
/* Start Features */
.features__container {
  display: flex;
  @media (width < 767px) {
    flex-direction: column;
    gap: 20px;
    margin-block: 20px;
  }
}
.features__content {
  @media (width < 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.features__content .content__heading {
  color: var(--clr-blue);
  font-size: 20px;
  padding-bottom: 20px;
}
.features__content .conetnt__paragraph {
}
.features_content {
}
.features__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.features__cards .card {
  display: flex;
  gap: 15px;
  @media (width < 767px) {
    flex-direction: column;
    align-items: center;
  }
}
.features__cards .card__span {
  color: white;
  background: var(--clr-orange);
  width: 60px;
  height: 40px;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features__cards .card__content {
  @media (width < 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.features__cards .card__heading {
  padding-bottom: 5px;
  color: var(--clr-blue);
}
/* End Features */
/* Start testimonials*/
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 20px;
  gap: 20px;
}
.testimonials__heading {
  color: var(--clr-blue);
  margin-block: 40px;
  font-size: 30px;
}
.testimonials__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.testimonials__cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #fafafa;
  position: relative;
}
.testimonials__cards .card .card__heading {
  margin-top: 50px;
  color: var(--clr-blue);
}
.testimonials__cards .card .card__paragraph {
  text-align: center;
  color: var(--clr-special-paragraph);
  line-height: 1.4;
  margin-bottom: 20px;
}
.testimonials__cards .card .card__avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15%;
  @media (width < 767px) {
    width: 10%;
  }
}
/* End testimonials*/
/* Start CTA */
.cta {
  background-color: var(--clr-orange);
}
.cta .text {
  display: flex;
  justify-content: space-between;
  padding-block: 40px;
  margin-block: 20px;
}
.cta .text__heading {
  display: flex;
  align-items: center;
  color: white;
  font-size: 25px;
}
.cta button {
  background-color: white;
  color: black;
}
/* End CTA */
/* Start Footer */
.footer {
  background-color: #1e1e26;
  padding-block: 20px;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.footer .logo-social-links .social-links ul {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.footer .logo-social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .pages-links {
  display: flex;
  flex: 1;
}
.footer .pages-links ul {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-inline: 40px !important;
  gap: 20px;
}
.footer .pages-links ul li a {
  color: white;
}
.footer .form {
  display: flex;
}
.footer__form .inputs {
  display: flex;
  @media (width < 767px) {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
.footer .form__search {
  border-radius: 25px;
}
.footer .form__button {
  width: 85px;
  margin-inline: 10px;
}
.footer .attribution {
  text-align: center;
  padding: 40px;
  color: white;
}
/* End Footer */
